@import 'tailwindcss';

/* 主题模式 */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html[data-theme='light'] {
	--scroll: #ebeaea;
	--background: #ffffff;
	--background-sec: #f5f5f5;
	--foreground: #000;
	--text: #333;
	--text-sec: #999;
	--border: lab(90.952% 0 -0.0000119209);
	--border-sec: transparent;
	--popover: #00000080;
	--toast: #ffffff;
}

html[data-theme='dark'] {
	--scroll: rgba(102, 102, 102, 0.5);
	--background: #1f1f1f;
	--background-sec: #2d2d2d;
	--foreground: #fff;
	--text: #f5f5f5;
	--text-sec: #999;
	--border: lab(100% 0 0/0.1);
	--border-sec: lab(100% 0 0/0.1);
	--popover: #00000080;
	--toast: #1f1f1f;
}

:root {
	--scroll-color: transparent;
}

:hover {
	--scroll-color: var(--scroll);
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: var(--text);
	background-color: var(--background);
	user-select: none;
	/* 防止滚动条宽度变化导致布局变化 */
	scrollbar-gutter: stable;
}

/* 取消button focus:visible 样式 */
a,
button:focus-visible {
	outline: none;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	--space: 4px;
	--primary: #0062ff;
	--danger: #ef4444;
	--success: #10b981;
	--warning: #f59e0b;
	--text-size: 14px;
}
@theme inline {
	--radius-sm: calc(var(--space) * 0.5);
	--radius-md: calc(var(--space) * 1);
	--radius-lg: calc(var(--space) * 1.5);
	--radius-xl: calc(var(--space) * 2);
	--radius-2xl: calc(var(--space) * 2.5);
	--radius-3xl: calc(var(--space) * 3);

	--text-sm: calc(var(--text-size) - 2px);
	--text-md: calc(var(--text-size));
	--text-base: calc(var(--text-size) + 2px);
	--text-xl: calc(var(--text-size) + 4px);
	--text-2xl: calc(var(--text-size) + 6px);

	--color-primary: var(--primary);
	--color-danger: var(--danger);
	--color-success: var(--success);
	--color-warning: var(--warning);

	--blur-sm: calc(var(--space) * 0.5);
	--blur-md: calc(var(--space) * 1);
	--blur-lg: calc(var(--space) * 1.5);
	--blur-xl: calc(var(--space) * 2);
	--blur-2xl: calc(var(--space) * 2.5);
	--blur-3xl: calc(var(--space) * 3);
}
