@import 'tailwindcss';

/* 主题模式 */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html[data-theme='dark'] {
	--color-bg: #333;
	--color-text: #fff;
	--color-bg-sec: #444;
	--color-bg-popover: #555;
	color: var(--color-text);
}

html[data-theme='light'] {
	--color-bg: #ffffff;
	--color-text: #000000;
	--color-bg-sec: #e7e7e7;
	--color-bg-popover: #f5f5f5;
	color: var(--color-text);
}
:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	--space: 4px;
	--primary: #0062ff;
	--danger: #ef4444;
	--success: #10b981;
	--text-size: 14px;

	--color-bg-sec: var(--color-bg-sec);
}
@theme inline {
	--radius-sm: calc(var(--space) * 0.5);
	--radius-md: calc(var(--space) * 1);
	--radius-lg: calc(var(--space) * 1.5);
	--radius-xl: calc(var(--space) * 2);
	--radius-2xl: calc(var(--space) * 2.5);
	--radius-3xl: calc(var(--space) * 3);

	--text-sm: calc(var(--text-size) - 2px);
	--text-md: calc(var(--text-size));
	--text-base: calc(var(--text-size) + 2px);
	--text-xl: calc(var(--text-size) + 4px);
	--text-2xl: calc(var(--text-size) + 6px);

	--color-primary: var(--primary);
	--color-danger: var(--danger);
	--color-success: var(--success);

	/* 文本色 */
	--color-333: var(--color-bg);
	--color-666: var(--color-666);
	--color-999: var(--color-999);
	--color-e7: var(--border-color);
}
