@import 'tailwindcss';

/* 主题模式 */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html[data-theme='light'] {
	--color-bg: #ffffff;
	--color-bg-sec: #f5f5f5;
	--color-text: #333;
	--color-border: #e7e7e7;
	--color-bg-popover: #f5f5f5;
	color: var(--color-text);
}

html[data-theme='dark'] {
	--color-bg: #1a1a1a;
	--color-bg-sec: #2d2d2d;
	--color-text: #f5f5f5;
	--color-border: #444;
	--color-bg-popover: #2d2d2d;
	color: var(--color-text);
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	--space: 4px;
	--primary: #0062ff;
	--danger: #ef4444;
	--success: #10b981;
	--text-size: 14px;
}
@theme inline {
	--radius-sm: calc(var(--space) * 0.5);
	--radius-md: calc(var(--space) * 1);
	--radius-lg: calc(var(--space) * 1.5);
	--radius-xl: calc(var(--space) * 2);
	--radius-2xl: calc(var(--space) * 2.5);
	--radius-3xl: calc(var(--space) * 3);

	--text-sm: calc(var(--text-size) - 2px);
	--text-md: calc(var(--text-size));
	--text-base: calc(var(--text-size) + 2px);
	--text-xl: calc(var(--text-size) + 4px);
	--text-2xl: calc(var(--text-size) + 6px);

	--color-primary: var(--primary);
	--color-danger: var(--danger);
	--color-success: var(--success);

	--blur-sm: calc(var(--space) * 0.5);
	--blur-md: calc(var(--space) * 1);
	--blur-lg: calc(var(--space) * 1.5);
	--blur-xl: calc(var(--space) * 2);
	--blur-2xl: calc(var(--space) * 2.5);
	--blur-3xl: calc(var(--space) * 3);
}
