/* 设置滚动条的高度（水平滚动条） */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* 修改滚动条轨道 */
::-webkit-scrollbar-track {
	background: transparent;
}

/* 修改滚动条滑块 */
::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scroll-color);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--scroll-color);
}
